[bumpversion]
current_version = {{cookiecutter.project_version}}
commit = True
tag = True
tag_name = {new_version}
message = Version updated from {current_version} to {new_version}

[metadata]
description-file = README.rst

[bumpversion:file:setup.py]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:{{cookiecutter.package_name}}/__init__.py]

[bumpversion:file:CHANGELOG.md]
search = Unreleased
